<% flash.each do |key, value| %>
  <div class="alert alert-<%= bootstrap_class_for_message(key) %>" role="alert">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
